/* Importing static fonts */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins Medium";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
}

/* END */

/* Minimal CSS reset for browser compatibility */

body {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[class], ol[class] {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

/* END */

/* Declaring global custom CSS properties */

:root {

    --main-width: 1280px;
    --main-side-margin: 1rem;
    --main-side-padding: 1rem;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    font-size: .850rem;
    color: #69699b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    width: 100%;
    max-width: var(--main-width);
    padding: 0 var(--main-side-padding);
    margin: 0 auto;
}

/* Breadcrumbs */

.breadcrumbs_container {
    font-family: 'Poppins Medium', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.breadcrumb-item {
    display: inline-flex;
    column-gap: 1rem;
    align-items: center;
}

.breadcrumb-item a {
    display: inline-flex;
    color: #69699b;
}

.breadcrumb-active a {
    pointer-events: none;
    color: #98cd03;
}

.breadcrumb-item a:hover {
    box-shadow: 0 1px 0 0 #69699b;
}

.breadcrumb-item:nth-last-child(n+2):after {
    display: inline-block;
    content: "";
    /* SVG Separator */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2369699b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M9 18l6-6-6-6'/></svg>") center no-repeat;
    width: 1rem;
    height: 1rem;
}
