/* Importing static fonts */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins Medium";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
}

/* END */

/* Minimal CSS reset for browser compatibility */

body {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[class], ol[class] {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

/* END */

/* Declaring global custom CSS properties */

:root {

    --main-width: 1280px;
    --main-side-margin: 1rem;
    --main-side-padding: 1rem;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    font-size: .90rem;
    color: #69699b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    width: 100%;
    max-width: var(--main-width);
    padding: var(--main-side-padding);
    margin: 0 auto;
}

/* Accordion */

.accordion {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: #69699b;
}

.accordion_label {
    font-family: 'Poppins Medium', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.accordion_label:hover {
    background-color: #f6f6f6;
}

.accordion_content {
    background-color: #FFF;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    border-width: 1px;
    border-top-width: 0;
    padding: 0.8rem;
}

.accordion[open] .accordion_label {
    border-radius: 5px 5px 0 0;
}

.accordion[open] .accordion_content {
    border-radius: 0 0 5px 5px;
}

.accordion_label:after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
}

.accordion:not([open]) .accordion_label:after {
    /* SVG Plus (+) */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%2369699b' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'><line x1='12' y1='5' x2='12' y2='19'></line><line x1='5' y1='12' x2='19' y2='12'></line></svg>") center no-repeat;

}

.accordion[open] .accordion_label:after {
    /* SVG Minus (-) */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%2369699b' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'><line x1='5' y1='12' x2='19' y2='12'></line></svg>") center no-repeat;
}
