/* Importing static fonts */

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins Medium";
    src: url(../fonts/Poppins-Medium.ttf) format("truetype");
}

/* END */

/* Minimal CSS reset for browser compatibility */

body {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[class], ol[class] {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}

/* END */

/* Declaring global custom CSS properties */

:root {

    --main-width: 1280px;
    --main-side-margin: 1rem;
    --main-side-padding: 1rem;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    font-size: .85rem;
    color: #69699b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main_container {
    width: 100%;
    max-width: var(--main-width);
    padding: var(--main-side-padding);
    margin: 0 auto;
}

/* Tab */

.tab_container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    width: 70%;
}

.tab_navigation {
    display: flex;
    flex-direction: column;
    flex: 25%;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    background-color: #FFFFFF;
}

.tab_label {
    font-family: 'Poppins Medium', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-left: 2px solid transparent;
}

.tab_label:hover {
    color: #414160;
    border-left: 2px solid #dcdcdc;
}

#dashboard:checked ~ .tab_navigation .tab_label[for="dashboard"],
#account:checked ~ .tab_navigation .tab_label[for="account"],
#settings:checked ~ .tab_navigation .tab_label[for="settings"] {
    color: #414160;
    border-left: 2px solid #98cd04;
}

.tab_content {
    position: relative;
    background-color: #FFF;
    padding: 1rem;
    flex: 75%;
    order: 2;
    margin-left: 5px;
}

.tab_container [type="radio"]:checked,
.tab_container [type="radio"]:not(:checked) {
    position: absolute;
    display: none;
    opacity: 0;
    pointer-events: none;
}

.tab_content section {
    display: none;
}

#dashboard:checked ~ .tab_content #dashboard_content,
#account:checked ~ .tab_content #account_content,
#settings:checked ~ .tab_content #settings_content {
    display: block;
}

@media screen and (max-width: 900px) {

    .tab_container {
        flex-direction: column;
    }

    .tab_navigation {
        row-gap: 0;
    }

    .tab_content {
        margin-left: 0;
        margin-top: 5px;
    }
}
